$font-stack: normal normal 13px/1.4 Segoe,"Segoe UI",Calibri,Helmet,FreeSans,Sans-Serif;
$background-color: white;

body {
  background: $background-color;
  font:$font-stack;
  pointer-events: none;
}